
@media  screen and (max-width: 576px) {
    
    :root {
    
        --small-size: 570px; 
    
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .wrap_container {
        position: absolute;
        max-height:  4162px;
        max-width:var(--small-size);
        width: var(--small-size);
        height:  4162px;
        
    }


    /*-- ___________________________ 
    |                           |
    |----------HEADER-----------|
    |___________________________|--*/
 
    .wrap-header {
        max-width:var(--small-size);
        width: var(--small-size);
    }

    .symbol {
        position: relative;
        left: 12%;
        margin: auto;
        top: 15.89px;
        display: inline-block;
    }


    .Logo {
        position: relative;
        margin: auto;
        top: 6.615px;
        display: inline-block;
    
    }
    /*-- ___________________________ 
    |                           |
    |-----------MENU------------|
    |___________________________|--*/


    .menu {
        position: absolute;
        left: 0px;
        top: 150px;
        height: 35px; 
        z-index: 1000;
    }
    
    .container-menu > a span {
        position: absolute;
        font-size: 30px;
        color: white;
        width: 50px;
        left: 5px;
        height: auto; 
        width: auto;
    }
    

    .menu > li {
        position: relative;
        display: inline-block;
        list-style: none;
        width: 90%;
        height: 100%;
        margin: 0px;
        padding: 30px 10px;
        border-bottom: 1px solid rgb(255, 255, 255);
        background-color: hsl(220, 6%, 10%);
    }

    .menu > li a {
        font-family: 'Roboto Condensed';
        position: relative;
        display: block;
        padding: 10px;
        text-decoration: none;
        margin: -15px;
        padding: 0px 20px;
        color: white;
        height: auto; 
        width: auto;
        font-size: 28px;
    }
    
    .menu >li:hover {
        background-color: hsl(220, 6%, 30%);
        list-style: none;
        transition: 0.8s ease all;

    }

    /*-- ___________________________ 
    |                           |
    |-assets:img,icons,bg...etc-|
    |___________________________|--*/
    .flag > img {
        display: inline-block;
        position: absolute;
        top: 56px;
        left: 470px;
        height:38px;
        width: 38px;
    }

    .v {
        display: inline-block;
        position: absolute;
        top: 96px;
        left: 485px;
        height: 5px;
        width: 9px;
    }
    .v:hover {
        font-size: 20px;
        display: inline-block;
        position: absolute;
        top: 96px;
        left: 485px;  
        transition: 0.5s ease all;
    }

    .deer-bg >img {
        width: 300px;
        height: 300px; 
        opacity: 95%;
       
    }
    .deer-bg {
        position: absolute;
        left: 20%;
        top: 650px;
    }
    .kielbasy {
        top: 150px;
        opacity: 95%;
        left: 0px;
    }
    .kielbasy > img {
        overflow: scroll;
        width: var(--small-size);
        height: 600px;
    }

    .draw-bg1 {
        visibility: hidden;
        position: absolute;
        left: 0px;

        top: 170px;
    }

    .draw-bg2 {
        visibility: hidden;
        position: absolute;
        transform:  rotate(0deg);
        left: 10px;
        top: 850px;
        width: 500px;
        height: 450px;
    }

    .pepper {
        visibility: hidden;
        position: absolute;
        top: 700px;
        left: 20px;
    }

  
    /*-- ___________________________ 
    |                           |
    |--------main-card----------|
    |___________________________|--*/
    

    .Main_content {
        overflow:hidden;
        width: var(--small-size);
        background-color: rgb(0, 0, 0);
        height: 1250px;
    }
    .text_card {
        display: block;
        position: relative;
        top: 266px;
        left: 15%;
        padding: auto;
        height: 292px;
        width: 395px;
        background-color: rgba(20, 17, 17, 0.3);
        backdrop-filter: blur(1px);
    }
    .text_card:hover {
        display: block;
        position: relative;
        top: 246px;
        left: 15%;
        padding: 20px 20px;
        height: 312px;
        width: 415px;
        transition: 0.8s ease-in-out all;
        background-color: hsla(0, 0%, 77%, 0.10);   
        
    }

    .text_card > h2 {
        font-size: 58px;
        line-height: 58px;
        height: 136px;
        width: 386px;
        color: white;
        font-family: 'DM Serif Display', 'serif';
        font-weight: 200;
    }

    .text_card_description {
        padding: 40px 20px;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        font-family: 'Roboto Slab';
        color: white; 
    }

    /*-- ___________________________ 
    |                           |
    |--------shop-card----------|
    |___________________________|--*/


.shop_card{
    position: absolute;
    top: 150px;
    left: 450px;
    display: inline-block;
    width: 80px;
    height: 160px;
    background-color: white;
    border-radius: 25px 0px 25px 0px;
}
.shop_card:hover {
    position: absolute;
    top: 150px;
    left: 450px;
    display: block;
    width: 80px;
    height: 160px;
    background-color: white;
    border-radius: 25px 0px 25px 0px;
}

.shop_card .sklep {
    position: relative;
    width: 80px;
    height: 60px;
    margin-top: 100px;
    display: block;
    background-color: #FF0008;
    border-radius: 25px 0px 25px 0px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed';
    padding: 12.5px 11px;
    color: white;
}

.sklep:hover{
    background-color: hsl(358, 100%, 60%);
    padding: 12px 10px;
    font-size: 17px;
    border: 1px solid black;
}

.icon-boton {
    position: inherit;
    text-align: center;
    top: 30%;
    left: 25%;
}
.icon-boton:hover {
    text-align: center;
    top: 25%;
    left: 25%;
    transition: 0.7s ease all;
}


    /*-- ___________________________ 
    |                           |
    |-----certificate-cards-----|
    |___________________________|--*/
.card1 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 203px;
    top: 761px;
    left: 5%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
    
}

.card2 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 203px;
    top: 761px;
    left: 37.5%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}
.card3 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 203px;
    top: 761px;
    left: 70%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}

.card4 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 203px;
    top: 984px;
    left: 5%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}

.card5 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 203px;
    top: 984px;
    left: 37.5%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}

.card6 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 203px;
    top: 984px;
    left: 70%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}
.rectangle {
    display: block;
    position: inherit;
    width: 15px;
    height: 48px;
    top: -27px;
    left: -40%;
    background-color: rgba(197, 172, 123, 1);
    border-radius: 25px 0px 25px 0px;
}

.FREE-icon {
    position: inherit;

    top: 27px;
    left: 15%;
    width: 50px;
    height: 60px;
}

.card1 > p,
.card2 > p,
.card3 > p,
.card4 > p,
.card5 > p,
.card6 > p {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 14px;
    line-height: auto;
    text-align: center;
    position: relative;
    top: 120px;
    color: white;
}

span {
    font-weight: bold;
}


.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
    background-color: hsla(0, 0%, 77%, 0.20);
}

/*-- ___________________________ 
    |                           |
    |----------part2------------|
    |___________________________|--*/

    .part2 {
        position: absolute;
      
        top: 1250px;
        width: var(--small-size);
        max-width: var(--small-size);
        height: 1962px;
    }
    .part2 > img {
        position: absolute;
        top: 0px;
        width: 570px;
        height: 500px;

    }
    
    .img-meet > img {
       
        position: absolute;
        top: 500px;
      
        width: 570px;
        height: 500px;
     
    }
    
    
    
    .part2-text {
        background-color: rgba(20, 17, 17, 0.4);
        color: white;
        position: absolute;
        top: 10px;
        left: 5%;
        padding: 10px;
        width: 516px;
        height: 442px;
    }
    
    .part2-text > h2 {
        font-size: 18px;
        text-align: left;
        font-family: 'Roboto Condensed';
    }
    
    .part2-text > h1 {
        margin-top: 35px;
        height: 124px;
        width: auto;
        font-size: 48px;
        text-align: top;
        line-height: 62px;
        font-weight: normal;
        font-family: 'DM Serif Text';
    }
    .part2-text > p {
        margin-top: 50px;
        width: 424px;
        height: 157px;
        font-family: 'Roboto Slab';
        font-size: 16px;
        font-weight: 100;
    }
    
    .part2-text > h3 {
        font-family: 'Roboto Condensed';
        font-size: 14px;
        text-align: center;
    }
    
}




/*media */

