
@media  all and (max-width: 575px) {
    
    :root {
    
        --small-size: 26.25rem; 
    
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .wrap_container {
        overflow-x: hidden;
        position: absolute;
        max-height:  4162px;
        max-width:var(--small-size);
        width: var(--small-size);
        height:  4162px;
        
    }


    /*-- ___________________________ 
    |                           |
    |----------HEADER-----------|
    |___________________________|--*/
 
    .wrap-header {
        max-width:var(--small-size);
        width: var(--small-size);
    }

    .symbol {
        position: relative;
        left: 12%;
        margin: auto;
        top: .993125rem;
        display: inline-block;
    }
    .symbol > img {
        width: 85%;
        height: 85%;
    }

    .Logo {
        position: relative;
        left: 3.125rem;
        top: .413438rem;
        display: inline-block;
    }
    .Logo > img{
        width: auto;
        height: auto;
    }

    /*-- ___________________________ 
    |                           |
    |-----------MENU------------|
    |___________________________|--*/


    .menu {
        position: absolute;
        left: 0rem;
        top: 9.375rem;
        height: 2.1875rem; 
    }
    
    .container-menu > a span {
        position: absolute;
        font-size: 30px;
        color: white;
        width: 3.125rem;
        left: .3125rem;
        height: auto; 
        width: auto;
    }
    

    .menu > li {
        position: relative;
        display: inline-block;
        list-style: none;
        width: 90%;
        height: 100%;
        margin: 0px;
        padding: 30px 10px;
        border-bottom: 1px solid rgb(255, 255, 255);
        background-color: hsl(220, 6%, 10%);
    }

    .menu > li a {
        font-family: 'Roboto Condensed';
        position: relative;
        display: block;
        padding: 10px;
        text-decoration: none;
        margin: -15px;
        padding: 0px 20px;
        color: white;
        height: auto; 
        width: auto;
        font-size: 28px;
    }
    
    .menu >li:hover {
        background-color: hsl(220, 6%, 30%);
        list-style: none;
        transition: 0.8s ease all;

    }

    /*-- ___________________________ 
    |                           |
    |-assets:img,icons,bg...etc-|
    |___________________________|--*/
    .flag > img {
        display: inline-block;
        position: absolute;
        top: 115px;
        left: 380px;
        height:38px;
        width: 38px;
    }

    .v {
        display: inline-block;
        position: absolute;
        top: 105px;
        left: 395px;
        height: 5px;
        width: 9px;
    }
    .v:hover {
        font-size: 20px;
        display: inline-block;
        position: absolute;
        top: 105px;
        left: 395px; 
        transition: 0.5s ease all;
    }

    .deer-bg >img {
        width: 300px;
        height: 300px; 
        opacity: 95%;
       
    }
    .deer-bg {
        position: absolute;
        left: 13%;
        top: 750px;
    }
    .kielbasy {
        top: 9.375rem;
        opacity: 95%;
        left: 0px;
    }
    .kielbasy > img {
        overflow: scroll;
        width: var(--small-size);
        height: auto;
    }

    .draw-bg1 {
        visibility: hidden;
        position: absolute;
        left: 0px;

        top: 170px;
    }

    .draw-bg2 {
        visibility: hidden;
        position: absolute;
        transform:  rotate(0deg);
        left: 0px;
        top: 80px;
        width: 200px;
        height: 250px;
    }

    .pepper {
        visibility: hidden;
        position: absolute;
        top: 700px;
        left: 20px;
    }

  
    /*-- ___________________________ 
    |                           |
    |--------main-card----------|
    |___________________________|--*/
    

    .Main_content {
        overflow:hidden;
        width: var(--small-size);
        background-color: rgb(0, 0, 0);
        height: 1250px;
    }
    .text_card {
        display: block;
        position: relative;
        top: 29.375rem;
        left: .625rem;
        padding: auto;
        height: 18.25rem;
        width: 24.6875rem;
        background-color: rgba(20, 17, 17, 0.3);
        backdrop-filter: blur(1px);
    }
    .text_card:hover {
        display: block;
        position: relative;
        top: 29.375rem;
        left: .625rem;
        padding: 20px 10px;
        height: 18.25rem;
        width: 24.6875rem;
        transition: 0.8s ease-in-out all;
        background-color: hsla(0, 0%, 77%, 0.10);   
        
    }

    .text_card > h2 {
        font-size: 58px;
        line-height: 58px;
        height: 136px;
        width: 366px;
        color: white;
        font-family: 'DM Serif Display', 'serif';
        font-weight: 200;
    }

    .text_card_description {
        padding: 20px 10px;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        font-family: 'Roboto Slab';
        color: white; 
    }

    /*-- ___________________________ 
    |                           |
    |--------shop-card----------|
    |___________________________|--*/


.shop_card{
    position: sticky;
    top: 300px;
    left: 340px;
    width: 75px;
    height: 130px;
    background-color: white;
    border-radius: 25px 0px 25px 0px;
    bottom: 1rem;
     align-self: flex-end;
}
.shop_card:hover {
    position: sticky;
    top: 300px;
    left: 340px;
    width: 75px;
    height: 130px;
    background-color: white;
    border-radius: 25px 0px 25px 0px;
    border: 1px solid black;
}

.shop_card .sklep {
    position: sticky;
    width: 74.5px;
    height: 59.5px;
    margin-top: 32px;
    background-color: #FF0008;
    border-radius: 25px 0px 25px 0px;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto Condensed';
    padding: 12.5px 11px;
    color: white;
}

.sklep:hover{
    background-color: hsl(358, 100%, 60%);
    padding: 12px 10px;
    font-size: 15px;
    width: 74px;
    height: 59px;
    border: 1px solid black;
}

.icon-boton {
    position: relative;
    text-align: center;
    top: 20%;
    left: 5%;
}
.icon-boton:hover {
    text-align: center;
    top: 10%;
    left: 5%;
    transition: 0.7s ease all;
}


    /*-- ___________________________ 
    |                           |
    |-----certificate-cards-----|
    |___________________________|--*/
.card1 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 180px;
    top: 761px;
    left: 5%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
    
}

.card2 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 180px;
    top: 761px;
    left: 37.5%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}
.card3 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 180px;
    top: 761px;
    left: 70%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}

.card4 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 180px;
    top: 984px;
    left: 5%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}

.card5 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 180px;
    top: 984px;
    left: 37.5%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}

.card6 {
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 180px;
    top: 984px;
    left: 70%;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}
.rectangle {
    display: block;
    position: relative;
    width: 22px;
    height: 48px;
    top: -26px;
    left: -24%;
    background-color: rgba(197, 172, 123, 1);
    border-radius: 25px 0px 25px 0px;
}

.FREE-icon > img {
    position: relative;

    top: -25px;
    left: -25px;
    width: 80px;
    height: 65px;
}

.card1 > p,
.card2 > p,
.card3 > p,
.card4 > p,
.card5 > p,
.card6 > p {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 10px;
    line-height: auto;
    text-align: center;
    position: relative;
    top: 120px;
    color: white;
}

span {
    font-weight: bold;
}


.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
    background-color: hsla(0, 0%, 77%, 0.20);
}

/*-- ___________________________ 
    |                           |
    |----------part2------------|
    |___________________________|--*/

    .part2 {
        position: absolute;
      
        top: 1250px;
        width: var(--small-size);
        max-width: var(--small-size);
        height: 1962px;
    }
    .part2 > img {
        position: absolute;
        top: 0px;
        width: 420px;
        height: 500px;

    }
    
    .img-meet > img {
       
        position: absolute;
        top: 500px;
      
        width: 410px;
        height: 420px;
     
    }
    
    
    
    .part2-text {
        background-color: rgba(20, 17, 17, 0.4);
        color: white;
        position: absolute;
        top: 10px;
        left: 1%;
        padding: 5px;
        width: 410px;
        height: 442px;
    }
    
    .part2-text > h2 {
        font-size: 16px;
        text-align: left;
        font-family: 'Roboto Condensed';
    }
    
    .part2-text > h1 {
        margin-top: 35px;
        height: 124px;
        width: auto;
        font-size: 38px;
        text-align: top;
        line-height: 62px;
        font-weight: normal;
        font-family: 'DM Serif Text';
    }
    .part2-text > p {
        margin-top: 50px;
        width: 400px;
        height: 157px;
        font-family: 'Roboto Slab';
        font-size: 16px;
        line-height: 19px;
        font-weight: 100;
    }
    
    .part2-text > h3 {
        font-family: 'Roboto Condensed';
        font-size: 14px;
        text-align: center;
    }
    
}




/*media */

