* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {    
    background-color: rgb(23, 24, 26);
    color: #9ca4ab;
}

.screen_viewer {
    max-width: 1903px;
    max-height: 4162px;
}

.wrap_container {
    position: relative;
    margin: auto;
    background-color: #17181A;
    max-width: 1440px;
    max-height:  4162px;
    height:  4162px;
    border: 1px solid black;
}

/*-- ___________________________ 
    |                           |
    |----------HEADER-----------|
    |___________________________|--*/
.wrap-header {
    display: inline-block;
    position: absolute;
    background-color: hsla(0, 0%, 17%, 0.3);
    fill-opacity: 50%;
    height: 150px;
    width: 1440px; 
}

.symbol {
    position: relative;
    left: 59px;
    top: 15.89px;
    display: inline-block;
}


.Logo {
    position: relative;
    left: 90.17px;
    top: 6.615px;
    display: inline-block;
 
    
/*-- ___________________________ 
    |                           |
    |-----------MENU------------|
    |___________________________|--*/

}
.container-menu {

    display: inline-block;
}

.menu {
    position: absolute;
    right: 100px;
    top: 64px;
    height: 21px;;   
}
.container-menu > a span {
    visibility: hidden;
}


.menu > li {
    
    display:inline-block;
    list-style: none;
}

.menu > li a {
    font-family: 'Roboto Condensed';
    text-decoration: none;
    margin: -2px;
    padding: 65px 45px;
    color: white;
    width: auto;
    font-size: 18px;
   
}
.menu >li a:hover {
    background-color: hsla(0, 0%, 77%, 0.15);
    list-style: none;
    transition: 0.8s ease all;
}

/*-- ___________________________ 
    |                           |
    |-assets:img,icons,bg...etc-|
    |___________________________|--*/
.flag > img {
    display: inline-block;
    position: absolute;
    top: 56px;
    right: 56px;
    height:38px;
    width: 38px;
}

.v {
    display: inline-block;
    position: absolute;
    top: 96px;
    right: 70px;
    height: 5px;
    width: 9px;
}
.v:hover {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: 96px;
    right: 70px;  
    transition: 0.5s ease all;
}

.deer-bg {
    position: absolute;
    left: 428px;
    top: 0px;
}

.kielbasy {
    position: absolute;
    right: 0px;
    top: 0px;
}

.draw-bg1 {
    position: absolute;
    left: 0px;
    top: 170px;
}

.draw-bg2 {
    position: absolute;
    transform:  rotate(0deg);
    right: 140px;
    top: 520px;
    width: 360.85px;
    height: 420.45px;
}

.pepper {
    position: absolute;
    top: 538px;
    left: 541px;
}

.Main_content {
    background-color: rgb(0, 0, 0);
    height: 950px;
}

/*-- ___________________________ 
    |                           |
    |--------main-card----------|
    |___________________________|--*/

.text_card {
    display: inline-block;
    position: relative;
    top: 266px;
    left: 271px;
    padding: auto;
    height: 292px;
    width: 395px;
}
.text_card:hover {
    display: inline-block;
    position: relative;
    top: 246px;
    left: 271px;
    padding: 20px 20px;
    height: 312px;
    width: 415px;
    transition: 0.8s ease-in-out all;
    background-color: hsla(0, 0%, 77%, 0.10);   
}

.text_card > h2 {
    font-size: 68px;
    line-height: 68px;
    height: 136px;
    width: 386px;
    color: white;
    font-family: 'DM Serif Display', 'serif';
    font-weight: 200;
}

.text_card_description {
    padding: 40px 20px;
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Roboto Slab';
    color: white; 
}

/*-- ___________________________ 
    |                           |
    |--------shop-card----------|
    |___________________________|--*/


.shop_card{
    position: absolute;
    top: 298px;
    right: 0px;
    display: block;
    width: 80px;
    height: 160px;
    background-color: white;
    border-radius: 25px 0px 25px 0px;
}
.shop_card:hover {
    position: absolute;
    top: 298px;
    right: 0px;
    display: block;
    width: 80px;
    height: 160px;
    background-color: white;
    border-radius: 25px 0px 25px 0px;
}

.shop_card .sklep {
    position: relative;
    width: 80px;
    height: 60px;
    margin-top: 100px;
    display: block;
    background-color: #FF0008;
    border-radius: 25px 0px 25px 0px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed';
    padding: 12.5px 11px;
    color: white;
}

.sklep:hover{
    background-color: hsl(358, 100%, 60%);
    padding: 12px 10px;
    font-size: 17px;
    border: 1px solid black;
}

.icon-boton {
    position: inherit;
    text-align: center;
    top: 30%;
    left: 25%;
}
.icon-boton:hover {
    text-align: center;
    top: 25%;
    left: 25%;
    transition: 0.7s ease all;
}

/*-- ___________________________ 
    |                           |
    |-----certificate-cards-----|
    |___________________________|--*/
.card1 {
    position: absolute;
    width: 203px;
    height: 203px;
    top: 661px;
    left: 59px;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}

.card2 {
   
    position: absolute;
    width: 203px;
    height: 203px;
    top: 661px;
    left: 292px;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}
.card3 {
   
    position: absolute;
    width: 203px;
    height: 203px;
    top: 661px;
    left: 515px;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}

.card4 {
    display: inline-block;
    position: absolute;
    width: 203px;
    height: 203px;
    top: 661px;
    left: 738px;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}

.card5 {
    display: inline-block;
    position: absolute;
    width: 203px;
    height: 203px;
    top: 661px;
    left: 961px;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
}

.card6 {
    display: inline-block;
    position: absolute;
    width: 203px;
    height: 203px;
    top: 661px;
    left: 1184px;
    border-radius: 25px 0px 25px 0px;
    background-color: hsla(0, 0%, 77%, 0.10);
    backdrop-filter: blur(3px);
}
.rectangle {
    display: block;
    position: inherit;
    width: 23px;
    height: 68px;
    top: -27px;
    left: -50px;
    background-color: rgba(197, 172, 123, 1);
    border-radius: 25px 0px 25px 0px;
}

.FREE-icon {
    position: inherit;
    text-align: center;
    top: 27px;
    left: 25%;
    width: 104.2px;
    height: 80.2px;
}

.card1 > p,
.card2 > p,
.card3 > p,
.card4 > p,
.card5 > p,
.card6 > p {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 16px;
    line-height: auto;
    text-align: center;
    position: relative;
    top: 120px;
    color: white;
}

span {
    
    font-weight: bold;
}


.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
    background-color: hsla(0, 0%, 77%, 0.20);
}

/*-- ___________________________ 
    |                           |
    |----------part2------------|
    |___________________________|--*/

.part2 {
    position: absolute;
    top: 950px;
    width: 1440px;
    height: 1962px;
}

.img-meet > img {
    position: absolute;
    top: 0px;
    width: 730px;
    height: 750px;
    object-fit: cover;
    object-position: 0% 20%; 

}


.part2-text {
    color: white;
    position: absolute;
    top: 102px;
    left: 842px;
    width: 516px;
    height: 442px;
}

.part2-text > h2 {
    font-size: 18px;
    text-align: left;
    font-family: 'Roboto Condensed';
}

.part2-text > h1 {
    margin-top: 35px;
    height: 124px;
    width: auto;
    font-size: 48px;
    text-align: top;
    line-height: 62px;
    font-weight: normal;
    font-family: 'DM Serif Text';
}
.part2-text > p {
    margin-top: 50px;
    width: 424px;
    height: 157px;
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: 100;
}

.part2-text > h3 {
    font-family: 'Roboto Condensed';
    font-size: 14px;
    text-align: center;
}






